.MoviesCardList {
    display: flex;
    column-gap: 20px;
    row-gap: 38px;
    flex-wrap: wrap;
    margin: 80px 5.5% 93px 5.5%;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .MoviesCardList {
        column-gap: 30px;
        row-gap: 30px;
        margin: 80px 3.9% 93px 3.9%;
    }
    
}