.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 74px 0 123px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--color-black);
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
}

.profile__form-label {
    width: 100%;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: var(--color-black);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 17px;
}

.profile__for-label:last-of-type {
    border: none;
}

.profile__form-input {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: var(--color-black);
    border: none;
    border-bottom: 1px solid var(--color-gray-border);
}

.profile__form-span {
    width: 100%;
    position: absolute;
    left: 0;
    top: 2px;
}

.profile__button {
    width: 100%;
    background: var(--color-white);
    border: none;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    padding: 0;
    justify-content: center;
}

.profile__button_type_submit {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-black);
    margin-top: 203px;
}

.profile__button_inactive {
    background-color: #ffffff;
    color: var(--color-gray-border);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile__button_type_exit {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-red-accent);
    margin-bottom: 70px;
}

.profile__form-input:focus-visible {
    outline: none;
    border-bottom: 2px solid black;
}

.profile__form-error {
    display: none;
    width: 100%;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-red-accent);
    position: absolute;
    left: 0;
    top: 20px;
}

.profile__form-error_active {
    display: flex;
}

.profile__form-error-submit {
    color: var(--color-red-accent);
    padding-top: 50px;
}

.profile__form-error-submit_success {
    color: var(--color-green-accent);
}

@media screen and (max-width:768px) {
    .profile__title {
        margin: 236px 0 96px 0;
    }

    .profile__button_type_submit {
        margin-top: 193px;
    }
}

@media screen and (max-width:590px) {
    .profile__title {
        margin: 70px 0 80px 0;
    }

    .profile__button_type_submit {
        margin-top: 362px;
        font-size: 12px;
        line-height: 15px;
    }

    .profile__button_type_exit {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
    }

    .profile__form {
        width: 81.25%;
    }
}