.portfolio__span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--color-gray-span);
    mix-blend-mode: normal;
    margin: 0 0 0 70px;
}

.portfolio__container {
    margin: 30px 70px 125px 70px;
    padding: 0;
}

.portfolio__option {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: var(--color-black);
    list-style-type: none;
    padding: 20px 0 19px 0;
    border-bottom: 1px solid var(--color-gray-border);
    position: relative;
}

.portfolio__option:last-of-type {
    border: none;
    padding: 20px 0 0 0;
}

.portfolio__link {
    min-width: 80%;
}

.portfolio__arrow {
    position: absolute;
    right: 0;
    bottom: 29px;
}

@media screen and (max-width:768px) {
    .portfolio__span {
        margin: 0 0 0 50px;
    }

    .portfolio__container {
        margin: 30px 50px 90px 50px;
    }

    .portfolio__option {
        font-size: 28px;
    }
}

@media screen and (max-width:590px) {
    .portfolio__span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 0 14px;
    }

    .portfolio__container {
        margin: 20px 14px 70px 14px;
    }

    .portfolio__option {
        font-size: 18px;
        line-height: 28px;
    }
}