.show-more-button {
    display: flex;
    justify-content: center;
}

.show-more-button__button {
    width: 25%;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-black);
    background: white;
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
    margin-bottom: 80px;
}

@media screen and (max-width:768px) {
    .show-more-button__button {
        width: 41.7%;
    } 
}