.navigation__wrapper {
    margin-right: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    color: #000000;
}
.navigation__wrapper:last-of-type {
    margin: 0;
}

.navigation__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    display: flex;
    color: #000000;
}

.navigation__button_login {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 3px;
    margin-right: 70px;
}

.navigation__list {
    display: flex;
    text-decoration: none;
    margin: 21px 0;
}

.navigation__button_account-img {
    padding-left: 23px;
    margin-bottom: 2px;
    align-self: flex-end;
}

.navigation__button_loggedin {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}

.navigation__button_account {
    margin-right: 50px;
}

.navigation__button_saved-movies {
    font-weight: 400;
}

.navigation__list_place_movies {
    margin: 28px 0;
}

@media screen and (max-width:768px) {
    .navigation__button_login {
        margin-right: 30px;
    }
    
}