.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-gray-span);
    margin: 0;
    padding: 0;
    position: relative;
}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-gray-border);
    color: var(--color-white);
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
    padding: 5px 0 10px 0;
}

.form__input:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--color-black);
}

.form__button {
    width: 100%;
    height: 45px;
    background: var(--color-black);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--color-white);
    margin: 152px 0 16px 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form__button_inactive {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form__error {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-red-accent);
    position: absolute;
    left: 0;
    top: 47px;
    margin-bottom: 13px;
}

.form__error_active {
    overflow: visible;
}

.form__error-submit {
    color: var(--color-red-accent);
    padding-top: 50px;
}

.form__error-submit_success {
    color: var(--color-green-accent);
}