.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__container {
    display: flex;
    margin: 20px 70px 20px 70px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: var(--color-black);
}

.footer__span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: var(--color-gray-span);
    margin: 79px 70px 0 70px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray-border);
}

.footer__praktikum {
    margin-right: 20px;
}


@media screen and (max-width:768px) {
    .footer__span {
        margin: 79px 30px 0 30px;
    }
}

@media screen and (max-width:590px) {
    .footer__span {
        font-size: 12px;
        line-height: 15px;
        margin: 79px 10px 0 10px;
    }

    .footer__container {
        flex-flow: column-reverse;
        align-items: center;
        row-gap: 30px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin: 30px auto 20px auto;
    }

    .footer__links {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0;
        row-gap: 12px;
    }

    .footer__praktikum {
        margin: 0;
    }

    .footer__year {
        font-size: 12px;
        line-height: 15px;
        color: var(--color-gray-span);
    }
}