.techs {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.techs__title {
    margin: 100px 70px 0 70px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--color-black);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: var(--color-black);
}

.techs__techs {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--color-black);
    max-width: 600px;
    margin: 90px auto 26px auto;
}

.techs__techs_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--color-black);
    max-width: 460px;
    margin: 0 auto 100px auto;
}

.techs__techs-container {
    width: 53.9%;
    margin: 0 auto 100px auto;
    display: flex;
    gap: 10px;
}

.techs__techs_name {
    width: 14.28%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--color-black);
    margin: 0;
    padding: 22px 0;
    background-color: var(--color-gray-border);
    border-radius: 10px;
}

@media screen and (max-width:1000px) {
    .techs__title {
        margin: 90px 50px 0 50px;
    }

    .techs__techs {
        margin: 80px auto 22px auto;
    }

    .techs__techs_text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 83px auto;
    }

    .techs__techs-container {
        width: 84.37%;
        margin: 0 auto 90px auto;
    }

    .techs__techs_name {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: -0.04em;
        width: 12.96%;
    }
}

@media screen and (max-width:590px) {
    .techs__title {
        margin: 70px 18px 0 18px;
        padding-bottom: 28px;
    }

    .techs__techs {
        margin: 60px auto 24px auto;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__techs_text {
        font-size: 11px;
        line-height: 16px;
        margin: 0 auto 50px auto;
    }

    .techs__techs-container {
        width: 178px;
        margin: 0 auto 70px auto;
        flex-wrap: wrap;
        gap: 10px;
    }

    .techs__techs_name {
        width: 47.18%;
        margin: 0;
        gap: 10px;
    }
}