.techs {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.techs__title {
    margin: 100px 70px 0 70px;
    padding-bottom: 23px;
    border-bottom: 1px solid black;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
}

.techs__techs {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 600px;
    margin: 90px auto 26px auto;
}

.techs__techs_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 460px;
    margin: 0 auto 100px auto;
}

.techs__techs-container {
    max-width: 690px;
    margin: 0 auto 100px auto;
    display: flex;
}

.techs__techs_name {
    max-width: 14.28%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    margin-right: 10px;
    padding: 22px 0;
    background-color: #E8E8E8;
    border-radius: 10px;
    width: 90px;
}

@media screen and (max-width:768px) {
    .techs__title {
        margin: 90px 50px 0 50px;
    }

    .techs__techs {
        margin: 80px auto 22px auto;
    }

    .techs__techs_text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 83px auto;
    }

    .techs__techs-container {
        max-width: 648px;
        margin: 0 auto 90px auto;
    }

    .techs__techs_name {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: -0.04em;
        width: 84px;
    }
}