.root {
  background-color: white;
  font-family: var(--font-family), Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  color: var(--color-text);
  margin: 0;
}